<tr>
	<th scope="row"><%=vehicle.id%></th>
	<td><%=link_to vehicle.vin,show_path(vehicle.id),remote:true%></td>
	<td><%=vehicle.make%></td>
	<td><%=vehicle.model%></td>
	<td><%=vehicle.series%></td>
	<td><%=vehicle.year%></td>
	<td><%=vehicle.price%></td>
	<td><%=vehicle.body%></td>
	<td><%=vehicle.mileage%></td>
	<td><%=vehicle.exterior%></td>

</tr>