<!DOCTYPE html>
<html>
  <head>
    <title>Cartorq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%=link_to "CarToq", root_path, class:"navbar-brand"%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%=link_to "Home ", root_path, class:"nav-link"%>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="container" id="stage">
      <%= yield %>
    </main>

    
    <footer class="footer">
      <div class="container">
      <center>
        <span class="text-muted"><%=Platipus::Renderer.copyright 'Faraz Noor', 'All rights reserved'%></span>
      </center>
      </div>
    </footer>
    
  </body>
</html>
